<!DOCTYPE html>
<html>
<head>
	<title>RPS!</title>
</head>
<body>
Nav:<br>
<a href="/tournaments">All Tournaments</a> |
<a href="/tournaments/active">Active Tournaments</a> |
<a href="/tournaments/new">New Tournament</a>
<br>
<%=yield%>
</body>
</html>
